body{
    background-color: #000000;
}
.table-menu{
    width:100%; 
    text-align: center;
    background-color: rgb(91, 178, 250); /* กำหนดพื้นหลังเป็นสีฟ้า */
}
h1{
    text-align: center; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgb(91, 178, 250); /* กำหนดพื้นหลังเป็นสีฟ้า */
} 
h4{
    text-align: center; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
    font-weight: normal;
    color: rgb(255, 255, 255); /* สีข้อความ สีขาว */
}
p{
    text-align: center;     
}